.input-search {
  .input {
    border-color: white;
    border: none;
    background-color: #eaeaea;
  }
  .button {
    border-color: white;
    border: none;
    background-color: #90a5a5;
    svg {
      height: 13px;
      fill: white;
    }
  }
}
