@import "../variables";
@import "../mixins";
.content {
  position: relative;
  margin-bottom: 2rem;
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1140px;
    border-bottom: 3px solid #f1c400;
  }
  &.disable-underline::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1140px;
    border-bottom: 3px solid white !important;
  }
  .col-md-2_5 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    @include breakpoint("md") {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
  .content-body {
    // font-size: 22px;
  }
}
