@import "../app.scss";
@import "../../fonts/stylesheet.css";
.as-navbar-desktop {
  max-width: $container-lg-max-width;
  .navbar-header {
    height: 9rem;
    .logo {
      width: 300px;
      img {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
      }
    }
    .right-content {
      .official-website {
        white-space: nowrap;
      }
      .btn-lang {
        min-width: 35px;
        min-height: 35px;
        color: white;
        border: none;
        &.th {
          background-color: #4ea4cd;
        }
        &.en {
          background-color: #7a7a7a;
        }
      }
    }
  }
  .navbar-hr {
    background-color: #f1c400;
    height: 2px;
    border: none;
  }
  .navbar-menu {
    height: 4rem;
    .navbar-item {
      font-weight: bold;
      //  font-size: 1.5rem;
      &:hover {
        color: lightseagreen;
        cursor: pointer;
      }
      &:hover {
        .sub-menu {
          visibility: visible;
          z-index: 2;
          min-width: 250px;
          background-color: white;
          left: -30px;

          color: #636363;
        }
      }
      .sub-menu {
        visibility: hidden;
        display: flex;
        padding-right: 10px;
        flex-flow: column;
        box-shadow: 0 17px 20px 0 #0000002e;
        .sub-menu-item {
          color: inherit;
          padding-left: 30px;
          text-decoration: none;
          &:hover {
            color: lightseagreen;
          }
        }
      }
    }
  }
}

.navbar-mobile {
  background-color: white;
  .navbar-brand {
    img {
      max-width: 31%;
      max-height: 90%;
    }
  }
}
