@import "../app.scss";
@import "../../fonts/stylesheet.css";
.as-navbar-desktop {
  font-size: 14px;
  line-height: 2.5;
  max-width: $container-lg-max-width;
  .navbar-header {
    height: 9rem;
    .logo {
      width: 300px;
      img {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
      }
    }
    .right-content {
      .official-website {
        white-space: nowrap;
      }
      .btn-lang {
        min-width: 35px;
        min-height: 35px;
        color: white;
        border: none;
        &.th {
          background-color: #4ea4cd;
        }
        &.en {
          background-color: #7a7a7a;
        }
      }
    }
  }
  .navbar-hr {
    background-color: #f1c400;
    height: 2px;
    border: none;
  }
  .navbar-menu {
    height: 4rem;
    .navbar-item {
      // font-weight: bold;
      //  font-size: 1.5rem;
      &:hover {
        color: lightseagreen;
        cursor: pointer;
      }
      &:hover {
        .sub-menu {
          visibility: visible;
          z-index: 2;
          min-width: 250px;
          background-color: white;
          left: -30px;

          color: #636363;
        }
      }
      .sub-menu {
        visibility: hidden;
        display: flex;
        padding-right: 10px;
        flex-flow: column;
        box-shadow: 0 17px 20px 0 #0000002e;
        .sub-menu-item {
          color: inherit;
          padding-left: 30px;
          text-decoration: none;
          &:hover {
            color: lightseagreen;
          }
        }
      }
    }
  }
}

.navbar-mobile {
  font-size: 14px;
  .nav-lang-mobile {
    button {
      border: none;
      min-width: 2.5rem;
    }
  }
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  .navbar-toggler {
    border: none;
  }
  background-color: white;

  .navbar-brand {
    width: 79%;
    img {
      max-width: 31%;
      max-height: 90%;
    }
  }
  .item-menu {
    border: none;
    &.has-sub-menu {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        right: 12px;
        top: 50%;
        transform: translate(0, -50%) rotate(315deg);
        width: 10px;
        height: 10px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
      }
    }
    a:hover {
      text-decoration: none;
    }
    a {
      color: inherit !important;
    }
    background-color: white;
  }
  .item-sub-menu {
    padding-left: 2rem;
    background-color: white;
    a {
      color: inherit !important;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .card {
    border: none;
    .card-body {
      padding: 0px;
    }
  }
  .navbar-collapse {
    max-height: 450px;
    overflow-y: scroll;
  }
}
