.btn-upload {
  width: 150px;
  color: white;
  background-color: #58a7af;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px 10px 5px 10px;
  // font-weight: bold;
  // font-size: 20px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid rgba(0, 0, 0, 0.13);
}
