.manage-form {
  button {
    border-color: white;
    border: none;
    width: 9rem;
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.13);
  }
  .delete-product {
    background-color: rgb(68, 68, 68);
    color: white;
  }
  .plus-product {
    background-color: #f1c400;
  }
  .plus-store {
    background-color: #58a7af;
    color: white;
  }
}
