.form-warranty {
  label {
    // font-size: 22px;
  }
  .member-data {
    margin-left: -15px;
    margin-right: -15px;
    padding: 30px;
    background-color: #e9e9e9;
  }
  .product-data {
    margin-left: -15px;
    margin-right: -15px;
    padding: 30px;
    background-color: #e9e9e9;
  }
  .rate-form {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #e9e9e9;
    .title {
      // font-weight: bold;
    }
    .emotion {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      // font-weight: bold;
      // font-size: 25px;
      cursor: pointer;
      &.active {
        border: 3px solid black;
      }
    }
    textarea {
      // font-size: 22px;
      border-color: white;
      border: none;
    }
  }
}
.cost-warranty-detail {
  border-top: 3px solid #f1c400;
  margin-left: -15px;
  margin-right: -15px;
  .title {
    // font-weight: bold;
  }
}
