.form-comfirm {
  h1,
  h2,
  h3 {
    font-weight: bold;
  }
  .container {
    border-top: 3px solid #ffaa29;
    border-bottom: 3px solid #ffaa29;
  }
  .customer-section {
    font-size: 22px;
    background-color: rgb(223, 223, 223);
  }
  .address-section {
    font-size: 22px;
    background-color: rgb(223, 223, 223);
  }
  .product-section {
    font-size: 22px;
    background-color: rgb(223, 223, 223);
  }
}
