@import "../scss/app.scss";
.as-login {
  border-top: 3px solid #f1c400;
  border-bottom: 3px solid #f1c400;
  .title {
    font-weight: bold;
  }
  .description {
    font-weight: bold;
    font-size: 20px;
  }
  .as-login-form {
    background-color: rgb(236, 236, 236);
    label {
      font-size: 24px;
    }
    a:link {
      text-decoration: none;
      color: rgb(193, 197, 199);
      font-weight: bold;
    }
  }
}
