.register {
  .register-container {
    label {
      font-size: 22px;
    }
    border-top: 3px solid #f1c400;
    border-bottom: 3px solid #f1c400;
    background-color: #e9e9e9;
    margin-right: -15px;
    margin-left: -15px;
    padding: 30px;
  }
}
