.element-textbox {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  img {
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .detail {
    // font-size: 22px;
    // font-weight: bold;
  }
  .button-element {
    a {
      text-align: center;
      border-color: white;
      border: none;
      min-width: 9rem;
      height: 3rem;
      border-bottom: 4px solid rgba(0, 0, 0, 0.13);
      // font-size: 26px;
      // font-weight: bold;
      color: white;

      background-color: #58a7af;
    }
  }
}
