.element-textbox {
  border-bottom: 3px solid #f1c400;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  img {
    margin-bottom: 1rem;
  }

  .detail {
    font-size: 22px;
    font-weight: bold;
  }
}
