@import "./assets/fonts/stylesheet.css";

body {
  margin: 0;
  font-family: "psl_kittithadaregular", sans-serif !important;
  font-size: 22px !important;
  /* font-family: "helvetica_neueregular", sans-serif !important; */
}
